#localVideo{
	display: none;
}

#connected{
	display: none;
	position: relative;
	left: calc(50vw - 320px);
}

#waiting{
	display: block;
	position: relative;
	left: calc(50vw - 131.5px);
}

#remote, #local{
	text-align: center;
	position: absolute;
}

#local{
	right: 0px;
	bottom: 0px;
}

#remote{
	top: 0px;
}

#lover{
	position: relative;
}
